*.class

HelloWorld/HelloWorld/bin/

build/

*.cache

HelloWorld/HelloWorld/obj/

HelloWorld/HelloWorld.v11.suo

HelloWorld/HelloWorldTests/bin/

HelloWorld/HelloWorldTests/obj/

HelloWorld/TestResults